$primary: #EEE;
$dark-primary: #303F9F;
$light-primary: #EEE;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;

.tag-list {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	display: block;
}

.tag-label {
	float: left;
	margin-right: 1rem;
}

.hero-table { 
  margin-left: 10%;
  margin-right: 10%;
}

.italic {
	font-style: italic;
}

section {
  padding: 100px 0;
}

.timeline {

	position: relative;

	&::before {
		content: '';
		background: $light-primary;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	// margin-bottom: 70px;
	margin-bottom: random(100) + px;
	
	position: relative;

	&:nth-child(even) {

		.timeline-content {
			float: right;
			// padding: 40px 30px 10px 30px;`
			// margin-top: random(10) * -1 + px;
			// margin-top: -100px;

			.date {
				right: auto;
				left: 0;
			}
		}
	}

	@media #{$media-size-phone} {
		&:nth-child(odd) {
			.timeline-content {
				float: left;

				.date {
					right: auto;
					left: 0;
				}
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


.timeline-content {
	position: relative;
	width: 45%;
	top: -10px;
	// padding: 10px 30px;
	padding: 10px 30px;
	// min-height: 230px;
	border-radius: 4px;
	// background: #f5f5f5;
	// box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	.tag-list {
		height: 50px;
		border-bottom: 1px grey dashed;
	}
}

.timeline-img {
	width: 30px;
	height: 30px;
	background: $primary;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}



.timeline-card {
	padding: 0!important;

	p {
		padding: 0 20px;
	}

	a {
		margin-left: 20px;
	}
}

.timeline-item {
  .timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
			background-size: cover;
		}
}

.timeline-img-header {

	height: 200px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		color: $text;
		position: absolute;
		bottom: 5px;
		left: 20px;
	}
}

blockquote {
	margin-top: 30px;
	color: $secondary-text;
	border-left-color: $primary;
	padding: 0 20px;
}

.date {
	background: $accent;
	display: inline-block;
	color: $text;
	padding: 5px;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-img {
			left: 50px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {
					
				}

			}
		}
	}
	
}
